/* Container for the login page */
.login-container {
    position: fixed;
    top: 0;
    right: -100%;
    height:68%;
    width: 38%;
    background-color: darkgoldenrod;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 1000;
    opacity: 0;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
  }
  
  .login-container.open {
    right: 0;
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Overlay for the rest of the page */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 500;
  }
  
  .overlay.show {
    opacity: 1;
  }
  